---
import type { ComponentProps } from 'astro/types'
import '@global/global.scss'
import { LOCALE } from '@global/constants'
import Head from '@layout/Head.astro'
import OrganizationSchema from '@schema/OrganizationSchema.astro'
import CookieConsent from '@layout/CookieConsent.astro'
import Header from '@layout/Header.astro'
import Footer from '@layout/Footer.astro'
import FloatingPhoneWidget from '@components/global/FloatingPhoneWidget.astro'

type Props = ComponentProps<typeof Head> & {
  hideHeader?: boolean
}

const { hideHeader, ...props } = Astro.props
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <Head {...props} />
    <OrganizationSchema />
    <slot name="head" />
  </head>
  <body>
    <CookieConsent />
    <FloatingPhoneWidget />
    {!hideHeader && <Header />}
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
