---
import '@/global/global.scss'
import { LOCALE } from '@/global/constants'
import Head, { type Props as HeadProps } from './Head.astro'
import OrganizationSchema from '@/schema/OrganizationSchema.astro'
import FaqPageSchema from '@/schema/FaqPageSchema.astro'
import CookieConsent from './CookieConsent.astro'
import Header from './Header.astro'
import Footer from './Footer.astro'

const { ...props } = Astro.props as HeadProps & { slug?: string }
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <Head {...props} />
    <OrganizationSchema />
    <FaqPageSchema />
    <slot name="head" />
  </head>
  <body>
    {props.slug && <CookieConsent slug={props.slug} />}
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
