.Button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(45deg, var(--primary-400, #824c1a), var(--primary-500, #683c14));
  background-size: 220% 100%;
  background-position: 10% 0;
  color: #fff;
  display: inline-block;
  transition: background-position 500ms var(--easing);
  &:hover {
    background-position: 90% 0;
  }
}
