.Button {
  display: inline-block;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  transition: background-position 500ms var(--easing);
  background-size: 220% 100%;
  background-position: 10% 0;
  &[data-theme='primary'] {
    background-image: linear-gradient(45deg, var(--primary-400, #824c1a), var(--primary-500, #683c14));
    color: #fff;
  }
  &[data-theme='secondary'] {
    border: 1px solid var(--primary-600, #271607);
    background-image: linear-gradient(45deg, var(--primary-100, #f2ede8), var(--primary-200, #e6dbd1));
    color: var(--primary-600, #271607);
  }
  &:hover {
    background-position: 90% 0;
  }
}
