---
import { PortableTextQuery, type PortableTextValue } from '../ui/portable-text'
import { ImageDataQuery, type ImageDataProps } from '../ui/image'
import sanityFetch from '@/src/utils/sanity.fetch'

const { slug } = Astro.params

export const ContactImage_Query = `
  _type == "ContactImage" => {
    label,
    ${PortableTextQuery('heading')}
    ${PortableTextQuery('paragraph')}
    ${ImageDataQuery('image')}
  },
`

type Props = {
  index: number
  sectionId?: string
  label: string
  heading: PortableTextValue
  paragraph: PortableTextValue
  image: ImageDataProps
}

const { index, sectionId, label, heading, paragraph, image } = Astro.props

const contact = await sanityFetch<{
  localSettings: {
    email: string
    phone: string
  }
  globalSettings: {
    email: string
    phone: string
  }
}>({
  query: `
    *[_type == "page" && slug.current == $slug][0] {
      localSettings {
        email,
        phone,
      },
      "globalSettings": *[_type == "global"][0] {
        email,
        phone,
      },
    }
  `,
  params: { slug: `/${slug || ''}` },
})

const { localSettings, globalSettings } = contact

const email = localSettings?.email || globalSettings?.email
const phone = localSettings?.phone || globalSettings?.phone
---

<section class="ContactImage" id={sectionId}></section>

<style lang="scss">
  .ContactImage {
  }
</style>
