---
import { PortableTextQuery, type PortableTextValue } from '../ui/portable-text'

export const ContactForm_Query = `
  _type == "ContactForm" => {
    label,
    ${PortableTextQuery('heading')}
    ${PortableTextQuery('paragraph')}
    formStates {
      success {
        ${PortableTextQuery('heading')}
        ${PortableTextQuery('paragraph')}
      },
      error {
        ${PortableTextQuery('heading')}
        ${PortableTextQuery('paragraph')}
      }
    }
  },
`

type Props = {
  index: number
  sectionId?: string
  label: string
  heading: PortableTextValue
  paragraph: PortableTextValue
  formStates: {
    success: {
      heading: PortableTextValue
      paragraph: PortableTextValue
    }
    error: {
      heading: PortableTextValue
      paragraph: PortableTextValue
    }
  }
}

const { index, sectionId, label, heading, paragraph, formStates } = Astro.props
---

<section class="ContactForm" id={sectionId}></section>

<style lang="scss">
  .ContactForm {
  }
</style>
