---
import { PortableTextQuery, type PortableTextValue } from '../ui/portable-text'
import { ButtonDataQuery, type ButtonDataProps } from '../ui/button'

export const Faq_Query = `
  _type == "Faq" => {
    ${PortableTextQuery('heading')}
    ${PortableTextQuery('paragraph')}
    ${ButtonDataQuery('cta')}
    faqItems[] {
      question,
      ${PortableTextQuery('answer')}
    }
  },
`

type Props = {
  index: number
  sectionId?: string
  heading: PortableTextValue
  paragraph: PortableTextValue
  cta: ButtonDataProps
  faqItems: {
    question: string
    answer: PortableTextValue
  }[]
}

const { index, sectionId, heading, paragraph, cta, faqItems } = Astro.props
---

<section class="Faq" id={sectionId}></section>

<style lang="scss">
  .Faq {
  }
</style>
