---
import { PortableTextQuery, type PortableTextValue } from '../ui/portable-text'
import { ImageDataQuery, type ImageDataProps } from '../ui/image'
import { ButtonDataQuery, type ButtonDataProps } from '../ui/button'

type Step = {
  icon: ImageDataProps
  heading: string
  paragraph: string
}

export const Process_Query = `
  _type == "Process" => {
    label,
    ${PortableTextQuery('heading')}
    ${ButtonDataQuery('cta')}
    steps[] {
      ${ImageDataQuery('icon')}
      ${PortableTextQuery('heading')}
      ${PortableTextQuery('paragraph')}
    }
  },
`

type Props = {
  index: number
  sectionId?: string
  label: string
  heading: PortableTextValue
  cta: ButtonDataProps
  steps: Step[]
}

const { index, sectionId, label, heading, cta, steps } = Astro.props
---

<section class="Process" id={sectionId}></section>

<style lang="scss">
  .Process {
  }
</style>

